body {
  font-family: Corbel, Eurostile, Levenim MT, Arial;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1em;
}

.jumbotron {
  display: flex;
  align-items: center;
  /*background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jumbotron.jpg');
  background-size: cover;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  height: 500px;*/
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #558811;
}

.btn.btn-primary:hover {
  color: #558811;
  background-color: #ffffff;
}
