header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}


h1 {
  font-family: Arial;
  font-size: 3em;
}

p {
  font-family: Open Sans;
  font-size: 1em;
}
